<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpeninApp_Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="heading">
        <h2>OpeninApp Challenge</h2>
    </div>
    <div class="main-box">

        <div>
            <img class="openinapp-logo" src="images/openinapp.png" alt="openinapp-logo" />
        </div>
        <button type="button" class="btn btn-danger login-button"><i class="fa-brands fa-google"></i> Login with
            Google</button>
    </div>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>